<launch>
<!-- roslaunch ros_deep_learning two_video_sources.launch input_framerate:=15 input_width:=4032 input_height:=3040 -->

	<arg name="input_width" default="600"/>
	<arg name="input_height" default="600"/>
        <arg name="input_framerate" default="15"/>
	<arg name="input_codec" default="unknown"/>
	<arg name="input_loop" default="0"/>

	<node pkg="ros_deep_learning" type="two_video_sources" name="two_video_sources" output="screen">
		<param name="resource" value="csi://0"/>
		<param name="width" value="$(arg input_width)"/>
		<param name="height" value="$(arg input_height)"/>
                <param name="framerate" value="$(arg input_framerate)"/>
		<param name="loop" value="$(arg input_loop)"/>
	</node>

</launch>
